<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Case.DimensionOverrides.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Case.DimensionOverrides.Properties.Settings>
            <setting name="Prompt_String" serializeAs="String">
                <value>"Select Dimensions to Override"</value>
            </setting>
            <setting name="Error_String" serializeAs="String">
                <value>"Unable to Process Selection. Dimension Overrides requires at least one Dimension to function properly. Please ensure your selection is correct. If you are still experiencing issues, Please contact CASE Inc."</value>
            </setting>
        </Case.DimensionOverrides.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
